
header {
    text-align: center;
    color: #0000FF;
    font-size: 30px;
    font-weight:700;
    padding: 20px 10px 0;
    display: block;
}

body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    background-color: wheat;
}

a {
  color: blue;
}

h1,
h2 {
   font-family: 'Roboto', Helvetica, sans-serif;
   font-weight: 700;
   margin-bottom: 5px;
}

p {
    font-family: 'Roboto', Georgia, serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    margin: 0 0 10px;
    padding: 30px 5px;
  }

  .footer p  {
    margin-bottom: 5px;
  }

  .footer-button {
    font-size: 20px !important;
    padding: 10px !important;
    width: 15% !important;
  }

  .button {
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.5s ease;
  }

  .button-primary {
    background-color: #00CF63;
  }

  input[type="submit"] {
    cursor: pointer;
    height: auto;
    width: auto;
  }
  
  input:active,
  input:focus,
  textarea:active,
  textarea:focus {
    border: 1px solid #fc542e;
    outline: none;
  }